.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app-headers{
  background-color: #282c34;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;


}
.todo-list{
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;



}
.todo-item{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border:1px solid gray;
 padding: 1.1em;
 border-radius:8px ;
 margin-top: 10px;
 box-shadow: -1px 0px 5px 4px rgba(212,212,212,0.5);


}
.done{
 background-color: rgb(185, 224, 185); 

}
.undone{
  background-color: rgb(235, 188, 188);
}
.add-task>*{
  width: 100%;
  padding: 1.1em;
  border-radius:8px ;
  box-shadow: -1px 0px 5px 4px rgba(212,212,212,0.5);



}
.add-task button {
  width: 100%;
  
  padding: 1.1em;
  border-radius:8px ;
  box-shadow: -1px 0px 5px 4px rgba(212,
  212, 212, 0.5);
  background-color: rgb(38, 38, 220);
  color: rgb(244, 234, 234);
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  }
  .c4{
    width: 70px;
    height: 50px;
    border-radius: 50%;
    
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .todoitem button{
    width:109px !important;
  }
.inps>*{
  width: 100%; 
  margin-top: 10px; 
  padding: 1.1em;
  border-radius:8px ;
  



}
